:root {
    --coloraccent-07: rgba(251, 155, 155, 1);
    --coloraccent-04: rgba(181, 235, 205, 1);
    --collection-1-color1: rgba(148, 148, 148, 1);
    --collection-1-color2: rgba(123, 97, 255, 1);
  }
  