<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/css/global_dashboard.css" />
    <link rel="stylesheet" href="/static/css/statics_dashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space Grotesk:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Murecho:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="statics">
      <div class="main-frame1"></div>
      <main class="rectangle-shape">
        <div class="subframe">
          <div class="cardio-clinvar-label">
            <h2 class="cardio-clinvar">CARDIO CLINVAR</h2>
            <div class="save-money-button">
              <div class="dashboard-text">
                <div class="left-nav-items-container">
                  <div class="nav-item">
                    <img
                      class="save-money-1-icon"
                      loading="lazy"
                      alt=""
                      src="./public/savemoney-1@2x.png"
                    />

                    <div class="availability-refer-friend-supp">
                      <div class="dashboard">Dashboard</div>
                    </div>
                  </div>
                </div>
                <div class="subtract-vector">
                  <div class="nav-item1">
                    <img
                      class="gift-2-1"
                      loading="lazy"
                      alt=""
                      src="./public/gift-2-1@2x.png"
                    />

                    <div class="left">
                      <div class="product">Product</div>
                    </div>
                    <div class="nav-item-child"></div>
                  </div>
                  <div class="nav-item2">
                    <img
                      class="transfer-1-icon"
                      loading="lazy"
                      alt=""
                      src="./public/transfer-1@2x.png"
                    />

                    <div class="left1">
                      <div class="transfer">Transfer</div>
                    </div>
                    <div class="nav-item-item"></div>
                  </div>
                  <div class="nav-item3">
                    <div class="left2">
                      <img
                        class="iconmenu-icon"
                        loading="lazy"
                        alt=""
                        src="./public/iconmenu-icon.svg"
                      />

                      <div class="avaliabilty">Avaliabilty</div>
                    </div>
                  </div>
                  <div class="nav-item4">
                    <div class="left3">
                      <img
                        class="iconmenu-icon1"
                        loading="lazy"
                        alt=""
                        src="./public/iconmenu-icon-1.svg"
                      />

                      <div class="refer-a-friend">Refer a Friend</div>
                    </div>
                    <div class="nav-item-inner"></div>
                  </div>
                  <div class="nav-item5">
                    <div class="left4">
                      <img
                        class="iconmenu-icon2"
                        loading="lazy"
                        alt=""
                        src="./public/iconmenu-icon-2.svg"
                      />

                      <div class="support">Support</div>
                    </div>
                    <div class="frame-div"></div>
                  </div>
                  <div class="search-field-instance">
                    <div class="div">2</div>
                  </div>
                  <div class="search-field-instance1">
                    <div class="div1">2</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="intro-text-frame">
              <img
                class="subtract-icon"
                alt=""
                src="./public/subtract@2x.png"
              />

              <img
                class="download-1-icon"
                loading="lazy"
                alt=""
                src="/static/img/ncbi.png"
              />
            </div>
          </div>
        </div>
        <section class="financial-nav-items-container">
          <div class="product-transfer-icon-menu">
            <div class="explore-text-frame">
              <div class="about-us-text-frame">
                <div class="background-rectangle">
                  <div class="group-frame">
                    <div class="group">
                      <div class="bg"></div>
                      <div class="frame-with-welcome-message">
                        <b class="explore1">Explore</b>
                      </div>
                      <div class="ellipse-vector">
                        <b class="about-us1">About Us</b>
                      </div>
                    </div>
                  </div>
                  <img
                    class="background-rectangle-child"
                    loading="lazy"
                    alt=""
                    src="./public/ellipse-204.svg"
                  />
                </div>
                <div class="frame-with-subtract-vector">
                  <h1 class="welcome-john-doe">WELCOME, JOHN DOE</h1>
                </div>
              </div>
              <div class="frame-with-nav-items">
                <h3 class="intro-taken-from">Intro taken from the report</h3>
              </div>
            </div>
            <div class="frame-with-search-phenotypes-g">
                <div class="frame-with-gift-transfer-nav-i">
                  <form id="search-form" action="/result" method="post">
                    <div class="searchfield">
                      <img
                        class="google-font-icon-filled-cus"
                        loading="lazy"
                        alt=""
                        src="./public/google-font-icon--filled-custom.svg"
                      />
                      <input type="text" id="search-input" name="cardio_input" placeholder="Search Phenotypes or Genes here" required>

                    </div>
                    <div class="financial-frames-container">
                      <!-- You can add additional elements here if needed -->
                      
                    </div>
                    <button type="submit" style="display: none;"></button> <!-- Hidden submit button -->
                  </form>
                </div>
              </div>
              
          </div>
        </section>
      </main>
      
    </div>
  </body>
</html>


<script>
    document.addEventListener("DOMContentLoaded", function() {
      const searchInput = document.getElementById("search-input");
      const searchForm = document.getElementById("search-form");
  
      // Submit the form when Enter key is pressed
      searchInput.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
          event.preventDefault(); // Prevent the default form submission
          searchForm.submit(); // Submit the form
        }
      });
    });
  </script>
  